body{
    background-color: rgb(231, 238, 21);
}



.highlight{
    display: inline-block;
    background: #060606;
    color: #ffffff;
    font-size: 22px;
    padding:0px 5px;
}
.highlight-home {
    display: inline-block;
    background: #060606;
    color: #ffffff;
    font-size: 30px;
    padding:0px 5px;
}
.highlight2{
    display: inline-block;
    background: #ffffff;
    color: #000000;
    
    font-size: 20px;
    padding:0px 5px;
}

.header{
    margin-top: 20px;
}

.contact{
    font-size: 18px;
}

.box1{ 
    margin:auto;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    max-width: 100%;

    
    
    /* position: relative; */

}
.box1small{ 
    margin:auto;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;

    
    
    /* position: relative; */

}
/* 
.box2{ 
    margin:auto;
    
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    height: auto;
    font-size: 20px;
   
    

} */

/* .box3{


    margin:auto;
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: auto;
    max-width: 100%;
} */
/* .box4{
    margin:auto;
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 166.667px;
    height: auto;
    max-width: 100%;
} */





.textbox{
    display: inline-block;
    background: #060606;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.textbox2{
    display: inline-block;
    background: #060606;
    color: #ffffff;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;

}

.box_drawing{ 
    margin:auto;
    justify-content:space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: auto;
    max-width: 100%;
}

.textbox_about{
display: inline-block;
    /* background: #060606; */
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.textbox_about2{
    display: inline-block;
        /* background: #060606; */
        color: #ffffff;
        background-color: #000000;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 25px;
    }

    .imgabout{
        margin:auto;
        justify-content:space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: auto;
        max-width: 100%;
    }



